/* variables */ 

:root {
    --hf-color: #374955;
    --main-text-color: #1A2229;
    --main-bg-color: #F0F4F8;
    --buttons: #0284C7;
    --buttons-hover: #0369A1;
    --border-color: #8A9BA8;
    --white: white;

    --input-br: 8px;
    --cards-br: 20px;
    --main-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    --transition-buttons: all 0.1s ease;
}

* {
    margin: 0;
    padding: 0;
}

/* layout */

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 1fr 15rem;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    font-family: var(--main-font);
    user-select: none;
    color: var(--main-text-color);
}

header {
    position: relative;
    grid-area: header;
    background: var(--hf-color);
}

main {
    min-height: calc(100dvh - 5rem);
    position: relative;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-bg-color);
}

main > div {
    width: 100%;
    height: 100%;
}

footer {
    grid-area: footer;
    background: var(--hf-color);
}

/* all */

button, input, select { 
    font-family: inherit; 
}

button {
    border: none;
    color: var(--white);
    background: var(--buttons);
    cursor: pointer;
}

button:hover {
    background: var(--buttons-hover);
}

button:active {
    scale: 0.97;
}


/* -------- partials -------- */

/* login_form and signup_form */

.form {
    position: relative;
    width: clamp(300px, 450px, 85dvw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1lh;
    background: var(--white);
    border-radius: var(--cards-br);
    padding-bottom: 1.5lh;
}

.form > h2{
    height: 2lh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form > input {
    width: calc(80% - 20px);
    height: 2lh;
    padding: 0 10px;
    font-size: 18px;
    border-radius: var(--input-br);
    border: 0.5px solid var(--border-color);
}

.form > button {
    width: 50%;
    min-width: 100px;
    height: 2lh;
    font-size: 18px;
    border-radius: 20px;
    transition: var(--transition-buttons);
}

.form > p > a {
    text-decoration: none;
    transition: var(--transition-buttons);
    color: var(--buttons);
}

.form > p > a:hover {
    text-decoration: underline;
}

/* header */ 

header {
    display: flex;
    justify-content: space-between;
}

#nav-large {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-large > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav-large > div:first-child {
    padding: 0 20px;
}


#nav-large > div > h2 > a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

#nav-large > .navbar {
    gap: 20px;
}

#nav-large > .navbar > .name-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2lh;
    font-size: 18px;
    gap: 10px;
    border-right: 0.5px solid var(--white);
    padding: 0 10px;

}

#nav-large > .navbar > .name-display > i {
    width: 32px;
    height: 32px;
    color: var(--white);
}

#nav-large > .navbar > .name-display > p{
    font-size: 20px;
    color: var(--white);
}

#nav-large > .navbar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2lh;
    font-size: 18px;
    list-style-type: none;
    gap: 10px;
}

#nav-large > .navbar > ul > li > a {
    color: var(--white);
    cursor: pointer;
    transition: var(--transition-buttons);
    text-decoration: none;
}

#nav-large > .navbar > ul > li > a:hover {
    text-decoration: underline;
}

#nav-large > .navbar > ul > li > button {
    width: 100px;
    margin-right: 10px;
    height: 2lh;
    font-size: 18px;
    border-radius: var(--cards-br);
    transition: var(--transition-buttons);
    margin-left: 10px;
}

@media(max-width:768px) {
    #nav-large {
        display: none;
    }
}

/* hamburger */

#hamburger{
    display: none;
}

#hamburger-label{
    position: fixed;
    padding: 20px;
    right: 15px;
    top: 18px;
    cursor: pointer;
    z-index: 20;
    display: none;
}

@media(max-width: 768px){
    #hamburger-label{
        display: block;
    }
}

.hamburger-icons, 
.hamburger-icons::before,
.hamburger-icons::after{
    position: absolute;
    width: 23px;
    height: 3.3px;
    border: 1rem;
    background: grey;
    transition: all 0.3s;
}

.hamburger-icons{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hamburger-icons::before{
    content: "";
    transform: translateY(-0.5rem);
}

.hamburger-icons::after{
    content: "";
    transform: translateY(0.5rem);
}

#hamburger:checked + label .hamburger-icons{
    background: transparent;
    transition: none;
}

#hamburger:checked + label .hamburger-icons::before{
    transform: rotate(45deg);
}

#hamburger:checked + label .hamburger-icons::after{
    transform: rotate(-45deg);
}

.hamburger-overlay{
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
    background: transparent;
    clip-path: circle(1.8rem at calc(100% - 2.4rem) 1.7rem);
    transition: all 0.3s ease-in-out;
}

.hamburger-overlay > div > h2 > a{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.hamburger-overlay > .navbar {
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.hamburger-overlay > .navbar > .name-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 0.5px solid var(--white);
}

.hamburger-overlay > .navbar > .name-display > i {
    width: 32px;
    height: 32px;
    color: var(--white);
}

.hamburger-overlay > .navbar > .name-display > p{
    font-size: 20px;
    color: var(--white);
}

.hamburger-overlay > .navbar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    margin-top: 25px;
}

.hamburger-overlay > .navbar > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

.hamburger-overlay > .navbar > ul > li > button {
    width: 100px;
    height: 2lh;
    font-size: 18px;
    border-radius: var(--cards-br);
    transition: var(--transition-buttons);
    margin-top: 30px;
}

#hamburger:checked ~ .hamburger-overlay{
    visibility: visible;
    background: var(--hf-color);
    clip-path: circle(75%);
}

/* balance_display */

#balance-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: clamp(200px, 300px, 85dvw);
}

.opacity-0 {
  opacity: 0 !important;
  pointer-events: none;
}

#balance-display > div { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#balance-display > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    aspect-ratio: 1 / 1;
    background: #ffbb01;
    border-radius: 50%;
    border: 0.5px solid var(--hf-color);
}

#timer-con {
    flex-direction: column;
}

#cooldown-timer {
    color: var(--buttons);
}

#balance-display > button {
    width: 70%;
    height: 2lh;
    font-size: 18px;
    border-radius: var(--cards-br);
}

#balance-display > button:active {
    scale: 1;
}

#balance-display > button:disabled {
    background: #e0e0e0; 
    color: #a0a0a0;     
    cursor: not-allowed;
}

/* big_coin */

#coin{
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
}

#coin > div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
}

.heads{
    background-image: linear-gradient(rgba(226, 181, 48, 0.5), rgba(226, 181, 48, 0.5));
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    background-color: #ffbb01;
}

/* #E1B530 */

.animate-heads{
    animation: flipHeads 3s;
    animation-fill-mode: forwards;
}

@keyframes flipHeads {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1800deg);
    }
}

.tails{
    background: yellow;
    transform: rotateY(-180deg);
}

.animate-tails{
    animation: flipTails 3s;
    animation-fill-mode: forwards;
}


@keyframes flipTails {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1620deg);
    }
}

/* bet_control */

.bet-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60dvw;
    height: 130px;
    background: var(--hf-color);
    border-radius: var(--cards-br);
    padding: 0 20px;
}


.bet-control > button {
    position: relative;
    width: 25%;
    min-width: 100px;
    height: 70%;
    min-height: 90px;
    border-radius: var(--cards-br);
    font-size: 18px;
}

.bet-control button:disabled {
    background: #e0e0e0; 
    color: #a0a0a0;     
    cursor: not-allowed;
}

.bet-control > button:active {
    scale: 1 !important;
}

.bet-control > button > span {
    position: absolute;
    bottom: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 20px;
    border-radius: 5px;
    pointer-events: none; 
}

.bet-control > button > span > span:first-child {
    width: 20px;
    height: 20px;
    background: #ffbb01;
    border-radius: 50%;
    border: 0.5px solid var(--main-text-color);
}

.bet-control > button > span > span:not(:first-child) {
    color: var(--main-text-color);
}

.bet-control > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 70%;
}

.bet-control > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 30px;
    border-radius: var(--input-br);
    margin: 20px;
    font-size: 20px;
}

.bet-text{
    position: absolute;
    top: -10px;
    color: var(--white);
    width: 200px;
    text-align: center;
}

.bet-control > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 120%;
    min-height: 40px;
}

.bet-control > div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 80px;
    height: 32px;
    background: var(--white);
    border-radius: var(--cards-br);
    margin-top: 40px;
}

.bet-control > div > div > div > p {
    font-size: 18px;
}

.bet-control > div > div > button {
    width: 100%;
    min-width: 80px;
    height: 32px;
    border-radius: var(--cards-br);
}

@media(max-width:840px) {
    .bet-control {
        width: 70%;
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
        padding: 20px 0;
        gap: 30px;
    }

    .bet-control > button {
        width: 70%;
    }

    .bet-control > button > span {
        bottom: 5px;
        left: calc(90% - 10px);
    }

    .bet-control > div {
        width: 60%;
    }

    .bet-control > div > button {
        margin: 10px;
    }

    .bet-text, 
    .bet-control > div > div{ 
        min-width: 90px;
    }
}


@media(max-width:390px) {
    .bet-control {
        width: 90%;
    }
}


/* -------- views -------- */

/* account */

#main-account {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#main-account > div:first-child {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

@media(max-width: 400px) {
    #main-account > div:first-child {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

}

/* coinflip */

#main-coin_flip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.coins-display {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 5px;
    min-width: 100px;
    padding: 20px;
}

.coins-display > span {
    height: 15px;
    aspect-ratio: 1 / 1;
    background: #ffbb01;
    border-radius: 50%;
    border: 0.5px solid var(--hf-color);
}

#main-coin_flip > p {
    height: 20px;
}

.flip-history {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: var(--input-br);
    min-width: 230px;
    height: 40px;
    background: var(--white);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.flip-history > span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    aspect-ratio: 1 / 1;
    background: #ffbb01;
    border-radius: 50%;
    border: 0.5px solid var(--hf-color);
}

#flip {
    width: 150px;
    height: 50px;
    border-radius: var(--cards-br);
    font-size: 18px;
}

#flip:disabled {
    background: #e0e0e0; 
    color: #a0a0a0;     
    cursor: not-allowed;
}















