:root {
    --hf-color: #374955;
    --main-text-color: #9baebc;
    --main-bg-color: #edfbff;
    --buttons: #8bd3ff;
    --buttons-hover: #6cc2ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem calc(100dvh - 5rem) 15rem;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

header {
    grid-area: header;
    background: var(--hf-color);
}

main {
    grid-area: main;
    background: var(--main-bg-color);
}

footer {
    grid-area: footer;
    background: var(--hf-color);
}